<!-- main content -->
<main class="main">
  <div class="container">
    <div class="row row--grid">
      <!-- title -->
      <div class="col-12 col-xl-11">
        <div class="main__title main__title--page">
          <h1>NFTEA – Buy an NFT, Get A Gift</h1>
          <p class="h2"><strong>Launching 7 /1 /2021</strong></p>

          <p>NFTEA solves the buyers problem in the NFT space by offering NFT's to the cannabis gifting economy.</p>

          <p>Art, Anime, Collectible, Interactive NFT's</p>
        </div>
      </div>
      <!-- end title -->
    </div>

    <div class="row row--grid">
      <div class="col-12 col-lg-4">
        <div class="step">
          <span class="step__number">01</span>
          <h3 class="step__title">Buy NFTEA Tokens</h3>
          <p class="step__text">Buy NFTea, "TEA" tokens to upload or buy NFT's. NFT tokens are required to enter partnered crypto gift shops.</p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="step">
          <span class="step__number">02</span>
          <h3 class="step__title">Buyers Are Waiting</h3>
          <p class="step__text">Partnered gifts shops buy your NFT's to offer to their customers at a premium. You earn royalty's each time your art is sold.</p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="step">
          <span class="step__number">03</span>
          <h3 class="step__title">Online / Offline sales</h3>
          <p class="step__text">Cannabis enthusiats buy your NFT in exchange for a gift in person while art enthusiast also buy your NFT's online. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="main__video-bg" data-bg="img/bg/bg2.png">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
          <div class="main__title">
            <h2>Why choose us?</h2>

            <p>NFTEA has a vision of creating amazing offline local NFT experiences. NFT's are functional art, your NFT should unlock a reward at a local cafe.</p>

            <p><strong>Local support</strong> Museums and galleries are welcomed to contribute NFT's, we are even considering "tax art", local art attached as a tax when making in person transactions.</p>

            <a href="https://www.instagram.com/p/CO4ISAKM2Az/?utm_source=ig_web_copy_link" target="_blank" class="main__video open-video">Watch video</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row--grid">
      <!-- title -->
      <div class="col-12 col-xl-8">
        <div class="main__title">
          <h2>Tokenomics</h2>

          <p class="h4">Design: Art Token, accelerated value</p>
          <p>Initial supply: 500,000,000<br />
            3% redistributed back to token holders<br />
            real time total supply burn (your balance reflects the total % of the network you own)<br />
            The % of the network you own grows over time due to the 3% redistrubution.<br />
            Your balance shrinks over time (your ownership % grows) to reflect the new total supply<br />
            Burn stops at 42,000,000<br />

          </p>
          <p class="h3">NFTEA is an Art token with MOON intentions</p>

        </div>
      </div>
      <!-- end title -->
    </div>
    <div class="row row--grid">
      <!-- title -->
      <div class="col-12 col-xl-8">
        <div class="main__title">
          <h2>How you can get NFTEA</h2>

          <p>NFTEA "TEA" tokens are available on <a href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x229c1c803CAf6249e0F982C74BaEEd8B59615c3C">pancakeswap</a></p>
        </div>
      </div>
      <!-- end title -->
    </div>

    <div class="row row--grid">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="feature">
          <span class="feature__icon feature__icon--blue">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10,13H4a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,19H5V15H9ZM20,3H14a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V4A1,1,0,0,0,20,3ZM19,9H15V5h4Zm1,7H18V14a1,1,0,0,0-2,0v2H14a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V18h2a1,1,0,0,0,0-2ZM10,3H4A1,1,0,0,0,3,4v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V4A1,1,0,0,0,10,3ZM9,9H5V5H9Z"/></svg>
          </span>
          <h3 class="feature__title">Create and sell</h3>
          <p class="feature__text">Create your NFT collections and sell to happy collectors</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="feature">
          <span class="feature__icon feature__icon--red">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.5,10.56l9,5.2a1,1,0,0,0,1,0l9-5.2a1,1,0,0,0,0-1.73l-9-5.2a1,1,0,0,0-1,0l-9,5.2a1,1,0,0,0,0,1.73ZM12,5.65l7,4-7,4.05L5,9.69Zm8.5,7.79L12,18.35,3.5,13.44a1,1,0,0,0-1.37.36,1,1,0,0,0,.37,1.37l9,5.2a1,1,0,0,0,1,0l9-5.2a1,1,0,0,0,.37-1.37A1,1,0,0,0,20.5,13.44Z"/></svg>
          </span>
          <h3 class="feature__title">Collect NFTs</h3>
          <p class="feature__text">Subsidize your cannabis expense. Buy NFT's of value to resell or trade.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="feature">
          <span class="feature__icon feature__icon--purple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.49,7.52a.19.19,0,0,1,0-.08.17.17,0,0,1,0-.07l0-.09-.06-.15,0,0h0l0,0,0,0a.48.48,0,0,0-.09-.11l-.09-.08h0l-.05,0,0,0L16.26,4.45h0l-3.72-2.3A.85.85,0,0,0,12.25,2h-.08a.82.82,0,0,0-.27,0h-.1a1.13,1.13,0,0,0-.33.13L4,6.78l-.09.07-.09.08L3.72,7l-.05.06,0,0-.06.15,0,.09v.06a.69.69,0,0,0,0,.2v8.73a1,1,0,0,0,.47.85l7.5,4.64h0l0,0,.15.06.08,0a.86.86,0,0,0,.52,0l.08,0,.15-.06,0,0h0L20,17.21a1,1,0,0,0,.47-.85V7.63S20.49,7.56,20.49,7.52ZM12,4.17l1.78,1.1L8.19,8.73,6.4,7.63Zm-1,15L5.5,15.81V9.42l5.5,3.4Zm1-8.11L10.09,9.91l5.59-3.47L17.6,7.63Zm6.5,4.72L13,19.2V12.82l5.5-3.4Z"/></svg>
          </span>
          <h3 class="feature__title">Get NFT AirDrops</h3>
          <p class="feature__text">Be 1st in line for limited edition NFT's and other airdrops.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="feature">
          <span class="feature__icon feature__icon--green">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.47,7.37s0,0,0-.08l-.06-.15a.71.71,0,0,0-.07-.09.94.94,0,0,0-.09-.12l-.09-.07L20,6.78l-7.5-4.63a1,1,0,0,0-1.06,0L4,6.78l-.09.08-.09.07a.94.94,0,0,0-.09.12.71.71,0,0,0-.07.09l-.06.15s0,0,0,.08a1.15,1.15,0,0,0,0,.26v8.74a1,1,0,0,0,.47.85l7.5,4.63h0a.47.47,0,0,0,.15.06s.05,0,.08,0a.86.86,0,0,0,.52,0s.05,0,.08,0a.47.47,0,0,0,.15-.06h0L20,17.22a1,1,0,0,0,.47-.85V7.63A1.15,1.15,0,0,0,20.47,7.37ZM11,19.21l-5.5-3.4V9.43L11,12.82Zm1-8.12L6.4,7.63,12,4.18l5.6,3.45Zm6.5,4.72L13,19.21V12.82l5.5-3.39Z"/></svg>
          </span>
          <h3 class="feature__title">Get "TEA" AirDrops</h3>
          <p class="feature__text">Get some FREE TEA tokens, to get your collection started or go shop!</p>
        </div>
      </div>

    </div>
  </div>
</main>
<!-- end main content -->
