<!-- Page Header -->
<div class="page-header">
  <div>
    <h2 class="main-content-title tx-24 mg-b-5">Launching 7/1/2021</h2>
  </div>
  <div class="d-flex">
    <div class="justify-content-center">
      <button *ngIf="!showCreate" type="button" class="btn btn-danger my-2 btn-icon-text" (click)="showCreate=true">
         Create Collection
      </button>
      <button *ngIf="showCreate" type="button" class="btn btn-white my-2 btn-icon-text" (click)="showCreate=false">
         back
      </button>
    </div>
  </div>
</div>
<!-- End Page Header -->
<div class="row row-sm justify-content-center" *ngIf="showCreate">
        <div class="col-md-6 col-lg-6">
          <div class="card custom-card bg-gray-800">
                <div class="card-body">
                  <div>
                    <h6 class="main-content-label mb-1 text-white">Create Your Collection</h6>
                    <p class="text-muted card-sub-title">Think of a collection as an album. If you have a collection of cat art, you'd put them in your cat album (collection)</p>
                  </div>
                  <div class="d-flex flex-column">
                    <form [formGroup]="_collection">
                      <div class="form-group">
                        <select class="form-control" formControlName="category">
                          <option value="Art">Art</option>
                          <option value="Music">Music</option>
                          <option value="Video">Video</option>
                            <option value="NFTeez">NFTeez</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Collection Name" type="text" formControlName="name">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Collection description" type="text" formControlName="description">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="youtube url" type="text" formControlName="youtube">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="soundcloud url" type="text" formControlName="soundcloud">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="bandlab url" type="text" formControlName="bandlab">
                      </div>
                      <div class="form-group" *ngIf="this._collection.controls.name.value && this._collection.controls.description.value">
                        <label class="form-label" for="customFile">Collection Image</label>
                        <input type="file" class="btn ripple btn-white" (change)="upload($event)" />
                      </div>
                      <button class="btn ripple btn-main-primary" (click)="addCollection()">Create</button>
                    </form>

                  </div>
                </div>
              </div>
        </div>
    </div>

<div class="card custom-card" *ngIf="!showCreate && COLLECTION && COLLECTION.length<1">
  <div class="card-body">
    <div class="row">
        <div class="col-2 text-center">
            <img src="/assets/icons/tea7.png" style="max-height:120px;width:auto" />
        </div>
        <div class="col-10">
          <h4 class="display-4 text-primary"><span> No Collections</span></h4>
          <blockquote class="blockquote mb-0">
            <p class="mb-0">Start by creating one, then you can add your NFTea into your collection</p>
          </blockquote>

        </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-lg-4 col-xl-4 col-sm-6" *ngIf="!showCreate && COLLECTION && COLLECTION.length>0">
										<div class="card custom-card" *ngFor="let data of COLLECTION">
											<div class="p-0 ht-100p">
												<div class="product-grid">
													<div class="product-image">
														<a href="javascript: void(0)" class="image">
															<img class="pic-1" alt="product-image-1" src="{{data.image}}">
														</a>
														<a class="product-like-icon" href="#"><i class="fa fa-close"></i></a>
														<span class="product-discount-label bg-info">{{data.category}}</span>
														<div class="product-link">
															<a href="javascript: void(0)" routerLink="/collection/{{data.name}}">
																<i class="fa fa-plus"></i>
																<span>Add NFT</span>
															</a>
															<a href="javascript: void(0)" routerLink="/show/{{user}}/{{data.name}}">
																<i class="fas fa-eye"></i>
																<span>View</span>
															</a>
														</div>
													</div>
													<div class="product-content">
														<h3 class="title"><a href="javascript: void(0)">{{data.name}}</a></h3>
													</div>
												</div>
											</div>
										</div>
									</div>

<div class="card custom-card" *ngIf="!showCreate">
  <div class="card-body">
    <div class="row">
        <div class="col-2 text-center">
            <img src="/assets/icons/tea4.png" style="max-height:120px;width:auto" />
        </div>
        <div class="col-10">
          <h4 class="display-4 text-primary"><span> Whats A Collection?</span></h4>
          <blockquote class="blockquote mb-0">
            <p class="mb-0">Think of a collection as an album. If you have a collection of cat art, you'd put them in your cat album (collection)</p>
          </blockquote>

        </div>
    </div>
  </div>
</div>

<div class="card custom-card" *ngIf="!showCreate">
  <div class="card-body">
    <div class="row">
        <div class="col-2 text-center">
            <img src="/assets/icons/tea8.png" style="max-height:120px;width:auto" />
        </div>
        <div class="col-10">
          <h4 class="display-4 text-primary"><span>It's FREE</span></h4>
          <blockquote class="blockquote mb-0">
            <p class="mb-0">It's free to create your collection, however you will need some TEA in your wallet. </p>
          </blockquote>

        </div>
    </div>
  </div>
</div>
